[Unit]
Description=Autoscaling containers on connection thresholds
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/bin/python /sbin/autoscaler.py

[Install]
WantedBy=multi-user.target
